{% include 'base.html' %}
<div class="container" style="color:white;">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form method="POST" class="form-1" action="#">
            <label for="macieDataFile">Choose the Macie-JSON file: </label><br><br>
            <input type="file" id="macieDataFile" name="macieDataFile" accept=".json"><br><br>
            <input type="submit" class="btn btn-dark"></button>
            </form>
        </div>
        <div class="col-md-4"></div>
</div>
</div>