{% include 'base.html' %}
<div class="container" style="color: white">
    <br /><br />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form method="POST" class="form-1" action="#">
                <h1>Configure S3 details:</h1><br>
                <label for="access_key_id_label">Please enter your access_key_id: </label><br><br>
                <input type="text" id="access_key_id" name="access_key_id"><br><br>
                <label for="secret_access_key_label">Please enter your secret_access_key: </label><br>
                <input type="text" id="secret_access_key" name="secret_access_key"><br><br>
                <label for="region_name_label">Please enter your region_name: </label><br>
                <input type="text" id="region_name" name="region_name"><br><br>
                <label for="account_id_label">Please enter your account_id: </label><br>
                <input type="text" id="account_id" name="account_id"><br><br>
                <input type="submit" class="btn btn-dark"></button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

