{% include 'base.html' %}
<div class="container" style="color: white">
    <br /><br />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form method="POST" class="form-1" action="#">
                <h1>Configure S3 details:</h1><br>
                <label for="access_key_id_label">Please select the S3 Bucket: </label><br><br>
                <select name="bucket_select" class="btn btn-sm btn-light" method="GET" action="/">
                    {% for bucket in buckets %}
                    <option value="{{bucket}}">{{bucket}}</option>"
                    {% endfor %}
                </select>
                <input type="submit" class="btn btn-dark"></button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>