{% include 'base.html' %}
<div class="container" style="color: white">
  <br /><br />
  <h1 ><center>Data Masker and Encryptor</center></h1><br><br>
  <p>Welcome to our community! We provide data masking and encrypting services which can handle masking and encrypting of 2.1 million records within a minute.
    Data Masking and encryption has become critical features in this modern times where data privacy and maintainance of integrity among the files is more required.
    Try exploring features provided by our framework.</p>

  <img src="../assets/home.gif">
</div>
