<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" style="padding-left:2em;">Data Masker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('home')}}" style="padding-left:35em;">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="padding-left:2em;">PII Column Generator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('masking_rules_gen')}}" style="padding-left:2em;">Masking rule Generator</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="padding-left:2em;">Masking Data Generator</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="padding-left:2em;">Admin</a>
        </li>        
      </ul>
    </div>
  </nav>